<!DOCTYPE html>
<html>

<head>
    <title>User Details</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
    <% include global/header %>

        <div id="enter_name">
            <h2>
                <%if (user==null){%> Create Account
                    <%} else{%>User Details:
                        <%=user.name%>
                            <%}%>
            </h2>
            <form action="<%if(user==null){%>/users<%}else{%>/user/<%=user.name%>?_method=PUT<%}%>" method="post">
                Username: <input type="text" id="enter_username" name="player_name" value="<%if (user!=null){%><%=user.name%><%} else {%><%}%>"><br> Password: <input type="text" id="enter_password" name="password" value="<%if (user!=null){%><%=user.password%><%} else {%><%}%>"><br>
                <button type="submit" id="enter_name_button"><%if(user==null){%>Create Account<%}else{%>Modify Account<%}%></button>
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                    <div id="myDropdown" class="dropdown-content">
                        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                        <a href="#about">About</a>
                        <a href="#base">Base</a>
                        <a href="#blog">Blog</a>
                        <a href="#contact">Contact</a>
                        <a href="#custom">Custom</a>
                        <a href="#support">Support</a>
                        <a href="#tools">Tools</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                    <div id="myDropdown" class="dropdown-content">
                        <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                        <a href="#about">About</a>
                        <a href="#base">Base</a>
                        <a href="#blog">Blog</a>
                        <a href="#contact">Contact</a>
                        <a href="#custom">Custom</a>
                        <a href="#support">Support</a>
                        <a href="#tools">Tools</a>
                    </div>
                </div>
            </form>
            <% if (user!=null) {%>
                <form action="/user/<%=user.name%>?_method=DELETE" method="post">
                    <input type="submit" value="Delete User">
                </form>
                <%}%>
                    <% if (user!=null) {%>
                        <form action="/playAgain" method="get">
                            <button type="submit" id="play_again">Play</button>
                        </form>
                        <%}%>
        </div>
        <footer>
            <% include global/footer %>
        </footer>
        <script src="scripts/scripts.js"></script>
</body>

</html>
